#settings-container{
    /* background-color: #efefef; */
    /* background: linear-gradient(to right, #39ceff, #aae1ff); */
    /* color: white; */
    border: solid #bbb 1px;
    border-radius: 15px;
    padding: 50px;
    width: 100%;
    height: 100%;
    position: static;
    overflow: auto;
}
