/* TestFormStyle.css */

.test-form-container {
    margin-top: 50px;
    width: 100%;
    border: solid black 1px ;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-num-input{
    width: 5vw;
    border: solid black 1px ;
    border-radius: 20px;
    padding: 7px;
}

.form-groups {
    display: flex;
    justify-content: space-between;
    gap:50px;
}

.form-column {
    width: 50vw;
    display: flex;
    flex-direction: column; 
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.form-input{
    border-radius: 30px;
    border: solid black 1px;
    padding-left: 15px;
    padding-right: 15px;
}
#button-form-submit {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    background-color: #00bfff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 20px;
}

#button-form-submit:hover {
    background-color: #0099ff;
}
