.batch-slide{
    background: linear-gradient(to bottom, #00bfff, #0026ff);
    /* background-color:#00bfff; */
    height:70vh;
    width:20vw;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-family: "Archivo, sans-serif";
    transition: all 0.3s ease-in-out;
}

.batch-slide:hover{
    width: 25vw;
}

.fx{
    font-family: "Archivo, sans-serif";
}
.batch-container{
    margin-left:50px;
    margin-top:20px;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 78vh;
    flex-direction: row;
    display: flex;
}

.batch-container::-webkit-scrollbar{
    width: 10px;
}

.batch-container::-webkit-scrollbar-track{
background: transparent;
border-radius: 10px;
}

.batch-container::-webkit-scrollbar-thumb{
    background: #2c64fe;
    border-radius: 20px;
}

.batch-container::-webkit-slider-thumb:hover{
    background: #6ec7ff;
}
.btn-batch{
    border-radius: 5px;
    width: 4vw;
    height: 8vh;
}