.ul-edu{
    list-style-type: none;
    padding: 0;
    gap: 40px;
}
.li-edu{
    position: absolute;
    background: #00bfff;
    border: solid white 5px;
    border-radius: 10px;
    color: white;
    height: 30vh;
    width:100%;
    max-width: 15vw;
    transition: transform 0.2s ease-in-out , border 0.2s ease-in-out, background 0.3s;
    font-size: large;
    font-family: "Archivo, sans-serif";
}

.li-edu:hover{
  transform: translateY(-40px);
  border: solid white 1px;
  background: linear-gradient(to top, #00bfff, #00d5ff);
  /* z-index: 1; */
}

.li-edu:active{
    transform: translateY(-80px);
}

.edu-section-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
    /* align-items: center;    */
    height: 25vh;
    width: 100%;
    font-size: 25px;
}
