.nvbr{
    padding: 5px;
    background-color:#00bfff;
    /* background-image: linear-gradient(to right,#00bfff, #66d8ff, #99e5ff); */
    color: white;
    width: 550px;
    height: 35px;
    outline: 0;
    
}

.icn {
    width: 23px;
    height: 23px;
    outline: 0;
}
