.nvbr{
    padding: 5px;
    background-color:#00bfff;
    /* background-image: linear-gradient(to right,#00bfff, #66d8ff, #99e5ff); */
    color: rgb(255, 255, 255);
    width: 580px;
    height: 40px;
    outline: 0;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.icn {
    width: 30px;
    height: 30px;
    outline: 0;
    padding: 3px;
}
